<h3>投稿一覧</h3>


<%= link_to ' 新規投稿', new_blog_path, class: 'create_button' %>

<% @blogs.each do |blog| %>

  <div class="tweet_box">

    <div class="tweet_head">
      <div class="tweet_head_item">
        <div class="tweet_head_item_user_image">
          <%= image_tag(blog.user.image, class: 'index_image') if blog.user.image.attached? %>
        </div>
        <div class="tweet_head_user_name"><%= blog.user.name %></div>
      </div>

      <div class="tweet_head_show">
          <%= link_to '詳細', blog_path(blog), class: 'show_button' %>
      </div>
    </div>

    <div class="tweet_middle">
      <div class="tweet_middle_item">
        <%= image_tag(blog.image, class: 'image') if blog.image.attached? %>
      </div>
      <div class="tweet_middle_buttons">
        <% if blog.user.name == current_user.name %>
          <%= link_to edit_blog_path(blog), class: 'tweet_icon' do %>
            <%= image_tag "tweet_edit.svg", class: 'tweet_icon_image' %>
          <% end %>
          <%= link_to blog, method: :delete, data: {confirm: "削除してもよろしいですか？"}, class: 'tweet_icon' do %>
            <%= image_tag "tweet_delete.svg", class: 'tweet_icon_image' %>
          <% end %>
        <% else %>
          <% @favorite = @current_user.favorites.find_by(blog_id: blog.id)%>
          <% if @favorite.present?%>
            <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id),
                        method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to 'お気に入りする', favorites_path(blog_id: blog.id),
                        method: :post, class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="tweet_foot">
      <p><%= blog.content %></p>
      <div class="time">
        <time datetime="<%= blog.created_at %>">
        <%= time_ago_in_words(blog.created_at) %>
       </time>
      </div>
    </div>
  </div>
<% end %>