<h3>投稿一覧</h3>


<%= link_to ' 新規投稿', new_blog_path, class: 'create_button' %>

<% @blogs.each do |blog| %>

  <div class="tweet_box">

    <div class="tweet_head">
      <div class="tweet_head_item"></div>
        <div class="tweet_head_item_user_image">user画像</div>
        <div class="tweet_head_user_name"><%= blog.user.name %></div>
      <div class="tweet_head_show">
          <%= link_to '詳細', blog_path(blog), class: 'show_button' %>
      </div>
    </div>

    <div class="tweet_middle">
      <div class="tweet_middle_item">投稿画像</div>
      <div class="tweet_middle_buttons">
        <% if blog.user.name == current_user.name %>
        <%= link_to '編集', edit_blog_path(blog), class: 'buttons' %>
        <%= link_to '削除', blog, method: :delete, data: {confirm: "削除してもよろしいですか？"},
                  class: 'delete_button' %>
        <% else %>
        <%= "favorite btn" %>
        <% end %>
      </div>
    </div>

    <div class="tweet_foot">
      <p><%= blog.content %></p>
      <time datetime="<%= blog.created_at %>">
        <%= time_ago_in_words(blog.created_at) %>
      </time>
    </div>
  </div>
<% end %>