<h3>投稿の詳細</h3>

<div class="nav.justify-content-end">
  <%= link_to '一覧', blogs_path, class: 'nav-link' %>
</div>

<div class="main_box">
  <div class="main_index">
    <p>ユーザー名</p>
    <p><%=current_user.name %></p>
    <p>作成日時</p>
    <p><%= @blog.created_at.strftime("%Y-%m-%d %H:%M") %></p>
    <p>内容</p>
    <p><%= simple_format(h(@blog.content), {}, sanitize: false, wrapper_tag: "div") %></p>
    <p><%= image_tag(@blog.image, class: 'show_image' ) if @blog.image.attached? %></p>
    <p>更新日時</p>
    <p><%= @blog.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
  </div>
</div>

<% if @blog.user.name == current_user.name %>
  <%= link_to '編集', edit_blog_path, class: 'show_link' %>
  <%= link_to '削除', @blog, method: :delete, data: {confirm: "削除してもよろしいですか？"},
              class: 'show_link' %>
<% end %>