<!DOCTYPE html>
<html>
<head>
  <title>Instaclone</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href='https://fonts.googleapis.com/css?family=Sacramento' rel="styleseet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<header>
  <div class="header_container">
    <div class="title">Instaclone</div>
    <div class="headers">検索</div>
    <div class="icons">
      <%if logged_in? %>
        <div class="home_icon">
          <%= link_to "ホーム", root_path %>
        </div>
        <div class="favorite_icon">いいね</div>
        <div class="profile_icon">
          <%= link_to "プロフ画像",user_path(current_user.id) %></div>
        <div class="logout">
          <%= link_to "ログアウト", session_path(current_user.id), method: :delete  %>
        </div>
      <% else %>
        <div class="sign_login">
          <%= link_to "新規登録", new_user_path %>
        </div>
        <div class="sign_login">
          <%= link_to "ログイン", new_session_path %>
        </div>
      <% end %>
    </div>
  </div>
</header>

<body>
<div class="body">
  <div class="body_mid">
    <div class="information">
      <% if flash.notice.present? %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
        <% elsif flash.present?%>
        <div class="alert alert-danger">
          <%= flash[:danger] %>
        </div>
        <% else %>
      <% end %>
    </div>
    <%= yield %>
  </div>
</div>
</body>

<footer>
  <div class="footer_container">
    <a class="footer">©︎2020 INSTACLONE FROM FACEBOOK CLONE</a>
  </div>
</footer>

</html>